@font-face {
  font-family: "VAG Rounded Bold";
  src: url('../../public/fonts/VAG\ Rounded\ Next\ Bold.ttf') format('truetype');
}

@font-face {
  font-family: "VAG Rounded Light";
  src: url('../../public/fonts/VAG\ Rounded\ Next\ Light.ttf') format('truetype');
}

@font-face {
  font-family: "VAG Rounded Medium";
  src: url('../../public/fonts/VAG\ Rounded\ Next\ Medium.ttf') format('truetype');
}
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


.font-vag-rounded-bold {
  font-family: "VAG Rounded Bold";
}

.font-vag-rounded-light {
  font-family: "VAG Rounded Light";
}

.font-vag-rounded-medium {
  font-family: "VAG Rounded Medium";
}

.slick-arrow::before {
  color: #000;
}

.slick-arrow::after {
  color: #000;
}